@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap&text=3RegisterLogn');

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 0;
}

.logo {
    font-size: 3em;
    font-family: 'Caveat', cursive; 
}

.logo-header{
    float: left;


    margin-right: .5em;
    margin-left: .5em;
}

.logo-gold { color: gold; }