@import '_variables.scss';
@import '_mixins.scss';

body{
    margin: 0;
    padding: 0;
}

#flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8em;

    @include sm{
        padding: 1em;
    }
}

#flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#loading-spinner{
    color: $spinner-color;
    font-size: 4em;
    position: fixed;
    right: 50%;
    top: 50%;
}

.ant-form {
    padding: 2em;
    box-shadow: 10px 10px 0px rgb(24, 144, 255);
    background-color: rgb(236, 236, 236);

    @include sm{
        box-shadow: none;
        padding: 0;
        background-color: white;
    }
}